* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeebe9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.outer-box{
    width: 40vw;
    aspect-ratio: 1;
    background-color: #ffbb5cb5;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorchange 8s linear infinite;
}

.sun {
    width: 18vw;
    aspect-ratio: 1;
    background-color:  #e25e3c;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        width: inherit;
        aspect-ratio: 1;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        border-radius: inherit;
        animation: motion 8s ease-in-out infinite;
        box-shadow: 0 0 20px 2px #d8d0d0;

    }

}

@keyframes colorchange {

        0% {
          background-color: #ffbb5cb5;
        }
        25% {
          background-color: #fcbf49;
        }
        50% {
          background-color: #000000;
        }
        75% {
          background-color: #fcbf49;
        }
        100% {
          background-color: #ffbb5cb5;
        }
}

@keyframes motion {

    0% {
        translate: 100%;
        scale: 1;
    }

    50% {
        translate: 0%;
        scale: 0.9;
    }

    100% {
        translate: -100%;
        scale: 1;
    }
}